<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- apple full screen -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-app-status-bar-style" content="white" />
  <meta name="baidu-site-verification" content="8sWqrOgbbz" />
  <!-- apple icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="http://image.lawootrip.com/lawoopic04.jpg">
  <link rel="apple-touch-icon" href="http://image.lawootrip.com/lawoopic04.jpg">
  <link rel="apple-touch-icon" sizes="152x152" href="http://image.lawootrip.com/lawoopic04.jpg">
  <link rel="apple-touch-icon" sizes="167x167" href="http://image.lawootrip.com/lawoopic04.jpg">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="keywords" content="乐物旅行, 乐物, 龟龟, 龟七爷, 大头苗苗, 尼泊尔逗逼, 屁屁酱, 屁屁">
  <meta name="description" content="传递快乐的手作物, 周乐苗, 乐物, LAWOO, Lawoo, 羊毛毡, 手工, 针毡, 湿毡">
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="./favicon.ico" />
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>
